<html>
	<head>
		<title>MEMOapp</title>
		<style type="text/css">
			a {text-decoration: none;}
			body {padding: 30px;}
			header {display: flex; justify-content: space-between; align-items: center;}
			.add_button {background-color: #20b2aa; padding: 5px 10px; color: white;}
		</style>
	</head>

	<body>
		<%= yield %>
	</body>
</html>