<header><h1>メモアプリ</h1></header>
<form action="/memos/new_memo/add_new" method="post">
<p>Title:<br>
<input required type="text" name="title"></p>
<p>Memo:<br>
<textarea required name="comment" cols="30" rows="5"></textarea></p>
<p><input type="submit" value="保存する"></p>
