<header>
	<h1>メモアプリ</h1>
</header>
<h2><%= @memo["title"] %></h2>
<p><%= @memo["comment"] %></p>
<a href="/memos/<%= @id %>/edit_memo" class="button">変更</a>
<form method="post" action="/memos/<%= @id %>">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="delete">
</form>